# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore .terraform directory
.terraform/

# Ignore crash logs and lock files
crash.log
.terraform.lock.hcl

# Ignore sensitive variables file
terraform.tfvars
.terraform.tfstate.lock.info
deployment_package.zip
.DS_Store